*  {

  margin: 0;
  padding: 0;
   box-sizing: border-box;
   background-image: url(./banner31.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
  
   

 } 

 
 
 *::-webkit-scrollbar {
  display: none;
}

 nav {
  
  position: fixed;
  top: 0;
  width: 100%;
  
  
  
  
  
 }

 #main1 {

  margin-top: 4rem;
  padding: 1rem;
  
 }



 .ana {

  display: flex;
 

 }



 .right {

  width: 50%;
  padding-right: 1rem;
  
 
 }

 .left {

  width: 50%;
 }

  p {
   
  text-align: justify;
 
  font-size:large;
  color: rgb(120, 8, 17);
  padding-top: 1rem;

 }

 h1, h2, h3, h4, h5 {
  text-align: justify;
  text-align: center;
  font-family: cursive;
  font-size:xx-large;
  color: rgb(120, 8, 17);
  padding-top: 2rem;
  transition: 2s;

 }

 iframe {

  margin: auto;
  margin-top: 2rem;
  margin-left: 5rem;
 }

hr {

  border: 1px dashed red;
  transition: 3s;
}

img {

  width: 100%;
  height: 200px;
  padding-top: 2rem;
  
}

.ana3 img {

  width: 40%;
  height: auto;
  margin-left: 3rem;
}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  
  
  
  
}

li {
  float: left;
  
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(20, 3, 3);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  
  

}

li a:hover, .dropdown:hover, .dropbtn {
  background-color: rgb(239, 241, 245);
  background-size: contain;
 
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0e0202;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {background-color: white (242, 247, 252);
background-size: contain;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 425px)  {

  iframe {height: auto; margin: auto;}
  
}
